@model Fridge.Models.Recipe

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

}
<div id="detailrecipe"></div>
@Scripts.Render("~/bundles/reactdetailrecipe")