@model Fridge.Models.Recipe

    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")

    }
    <div id="recipe"></div>
    @Scripts.Render("~/bundles/reactrecipe")