@model Fridge.Models.Ingredient

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")


}
<div id="addingredientfridge"></div>
@Scripts.Render("~/bundles/reactaddingredient")