@model Fridge.Models.UserIngredientList

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")


}
<div id="ingredients"></div>
@Scripts.Render("~/bundles/reactingredients")