@using Fridge.Models
@model RegisterViewModel
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
}

<div id="register"></div>

@Scripts.Render("~/bundles/reactregister")
